$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

//modificators

.form-group {
	> [class*="col-"] {  
		padding-left: 0;
	}
	@include clearfix();	
}  

._border-bottom-dashed {  
	position: relative;
	&:after {
		display: block;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 4px;
		width: 100%;
		background: url(../images/border-bottom.png) repeat-x;
	}
}
._link-unstyled {
	text-decoration: none;
}
._underline-dotted {
	border-bottom: 1px dotted #fff;
	text-decoration: none;
	&:hover,
	&:focus {	    
		border-color: transparent;
		text-decoration: none;
	}
}
._bg-gray {
	background-image: url(../images/bg-gray.png);  
}
.b_heading {
	text-align: center;
	margin-top: -17px;
}
._margin {
	margin-bottom: 30px;
}
._shadow {
	background: url(../images/shadow.png) center top;
	height: 54px;
	margin-top: 5px;
}
._shadow-short {
	background: url(../images/shadow_short.png) center top no-repeat;
	width: 960px;
	margin-left: auto ;
	margin-right: auto ;
	height: 30px;
}
._shadow-ex-short {
	background: url(../images/shadow_extra-short.png) center top no-repeat;
	width: 420px;
	margin-left: auto ;
	margin-right: auto ;
	height: 30px;
}
.i_heading {                  	         
	display: inline-block;
	margin: 0 15px;
	font-size: 18px;
	padding: 10px 30px;
	font-weight: bold;
	color: #fff;	
	border: 1px solid #FFD14F;
	@include box-shadow( 0px 1px 5px #ccc );	
}
.i_heading-yellow {  
	background: #ffc500; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffc500 0%, #ffba00 50%, #ffad00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc500), color-stop(50%,#ffba00), color-stop(100%,#ffad00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc500 0%,#ffba00 50%,#ffad00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc500 0%,#ffba00 50%,#ffad00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc500 0%,#ffba00 50%,#ffad00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc500 0%,#ffba00 50%,#ffad00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc500', endColorstr='#ffad00',GradientType=0 ); /* IE6-9 */
}
.i_heading-black {	
	border-color: #E7E7E7;
	background: #565656; /* Old browsers */
	background: -moz-linear-gradient(top,  #565656 0%, #414141 44%, #353535 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(44%,#414141), color-stop(100%,#353535)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #565656 0%,#414141 44%,#353535 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #565656 0%,#414141 44%,#353535 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #565656 0%,#414141 44%,#353535 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #565656 0%,#414141 44%,#353535 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#353535',GradientType=0 ); 
}
.text-yellow {
	color: #FFBB00;
}
.text-red {
	color: #FF5959;
}
/* header */
.l_header {
	overflow-x: hidden;
}
.b_header-top {
	background: #232323; 
	color: #fff;	
	a {
		color: #fff;	

	}
	.text-red { 
		color: #FF5959;
	}
}

.b_head {
	margin: 0;
}
.i_head-item {
	padding: 13px 35px 15px 0;
	a {
		display: inline-block;
		border-color: transparent;
		&:hover,
		&:focus {
			text-decoration: none;
			color: #fff;
		}		
		img {
			margin-right: 10px;
		}
	}	
}
.i_head-item_country {
	@extend .i_head-item;
	margin-left: 13px;
}
.i_head-item_phone {
	@extend .i_head-item;
	margin-left: 66px;
}
.i_head-item_languages  {
	@extend .i_head-item;
	margin-left: 146px;
	margin-right: 23px;
	> a {
		margin-right: 5px;
	}
	.active {
		@extend .text-yellow;
		border-color: #FFBB12;       
	}	
}
.list-inline .il_head-item_buttons {
	@extend .i_head-item;
	padding: 0;
	background-color: #313131;
	> a {
		display: inline-block;
		padding: 13px 20px 15px;
	} 
}
.i_cart-button {
	position: relative;	
	display: inline-block;
}
.label_products {
	position: absolute;
	top: 6px;
	right: 12px;
	padding: 1px 5px;	
	background: #FF2C2C;                 
	text-align: center;
	font-size: 10px;
}
.i_cart-item {
	width: 400px;
	> img {
		margin-right: 10px;
		float: left;
	}
	@include clearfix();
}
.i_cart-item_sum {
	@extend .i_cart-item;
	margin-top: 20px;
	strong {
		span {
			font-size: 24px;
		}		
		margin-right: 35px;
	}
}
.i_cart-text {
	float: left;
	h5 {
		margin: 0;
		font-size: 14px;
	}
	strong {
		font-size: 16px;
		margin-top: 15px;
		display: inline-block;
	}
}
.i_cart-control {
	float: right;
	padding: 20px 0;
}
.input-square {           
	width: 32px;
	height: 32px;
	color: #000;
	text-align: center;
}
.b_header-bottom {
	position: relative;	
}

.b_logo {
	text-align: center;
	margin-top: 27px;
	img {
		margin-left: 27px;
	}
	h2 {
		font-size: 14px;
		margin: 10px 0 0;
		color: #949494;
		letter-spacing: 2px;
	}
	a {
		text-decoration: none;
	}
}
.b_search {        
	width: 290px;
	margin: 37px auto 48px;   	
	.form-control {
		background: #F4F4F4 url(../images/icon_search.png) 5px 7px no-repeat;
		padding-left: 30px;
		padding-right: 70px;
	}
	.btn {
		padding: 2.5px 7px !important;
	}
}
.b_menu {
	text-align: center;
	margin-bottom: 50px;
	li {
		padding-left: 12px;
		padding-right: 12px;
	}
	.active {
		text-decoration: none;
	}

}
.engine-top {
	position: absolute;
	top: 0;
	left: -150px;
}
.engine-bottom {
	position: absolute;
	bottom: 0;	
	right: -207px;
}

.b_services {
	
}
.b_services-inner {
	padding: 62px 78px 81px;
	@include clearfix();
}
.bl_service-icon {
	float: left;
	margin-left: 30px;	
	.img {
		width: 130px;
		height: 132px;
		background: url(../images/service-bg.png);
		padding: 25px 24px;
		margin-bottom: 21px;
	}	
	&.active {
		.img {
			background: url(../images/service-bg-active.png);
		}
		.i_service-link {
			a {
				text-decoration: none;
			}
		}
	}
	&:first-child {
		margin-left: 0px;	
	}

}
.i_service-link {
	text-align: center;	
}
.b_tab {
	margin: 0 -40px;
	padding: 0 20px; 
}
.new { 
	position: relative;
	&:before {
		display: block;
		content: '';
		position: absolute;	
		top: 0px;
		right: 0px;	
		width: 35px;
		height: 35px;
		background: url(../images/label_new.png);
	}	
	&.left:before {
		top: -15px;
		left: -15px;
	}
}
.bl-product {
	padding: 20px 15px 0px;
	position: relative;	
	.tooltip {
		margin-top: 20px;
	}
}
.b_pro-info {
	font-size: 12px;
}
.i_info-text {
	display: inline-block;
	width: 60px;
}
.i_pro-price {
	font-size: 26px;
	font-weight: bold;
	del {
		color: #ABABAB; 
	}
}
.block {
	margin-bottom: 30px;
}
.block-sm {         
	margin-bottom: 10px;
}
.block-md {
	margin-bottom: 15px; 
}
.block-lg {
	margin-bottom: 20px;
}
.block-xlg { 
	margin-bottom: 45px;
}
.block-xxlg { 
	margin-bottom: 60px;
}
.block-xxxlg {
	margin-bottom: 100px;
}
.tab-content {
	padding: 10px 20px 0px;	         
}
.b_filter-range {
	
}
.b_filter-r-input {
	.form-control {
		width: 63px;
	}
}
.b_filter-r-text {
	padding: 5px; 
}
.label-black-bordered {	
	width: 34px;
	height: 35px;
	margin: 0 auto;	
	background: url(../images/label_black-bordered.png);	
	text-align: center;
	vertical-align: middle;
	padding-top: 8px;
}
.btn-show { 
	.label-black-bordered {
		position: absolute;
		display: inline-block;
		top: -15px;
		left: 0px;		
		right: 0px;
		margin: 0 auto;
	}
}

.divider {
	border-top: 1px solid #ABABAB;
	height: 1px;
	background-color: #E6E6E6;
}
.b_btn-show {
	margin: 0 auto;
	width: 283px;
	text-align: center;
	background: url(../images/bg_btn-show.png) 0px 0px no-repeat;	
}
.tooltip._custom {
	position: relative;
	opacity: 1;
	background: #F7DB8E;
	border-radius: 0px;
	@include box-shadow(0px 3px 5px rgba(0,0,0,.2));
	.tooltip-inner {
		background: #F7DB8E;
		color: #000;
	}
	&.bottom {
		.tooltip-arrow {
			top: -4px;
			border-bottom-color: #F7DB8E;
		}
	}
}
#pro-carousel {
	li {
		width: 161px;
	}
}
.b_news-inner {
	padding: 30px 0 35px;
	.img-circle {
		border: 4px solid #8F8F8F;
		float: left;
	}
	.b_news-text {
		float: right;
		width: 110px;
	}
	.bg-yellow {
		margin-bottom: 10px;
		display: inline-block;
	}
	a {
		display: block;
	}
}
._news-inner-big {		
	.b_news-text {
		width: 267px;
		a {
			font-size: 16px;
		}
	}
}
.bg-yellow {
	background: #FFBA00;
	padding: 2px 8px;
	color: #fff;
	display: inline-block;
}
.b_about-us {
	padding-bottom: 26px;
	h4 {
		margin-bottom: 27px;
	}
}
.b_about-us-inner {
	h4 {
		margin-top: 0px;
	}
}
.b_about-us-text {
	p {
		margin-bottom: 30px;
	}
}
.bold {
	font-weight: bold;
}
.b_partners {
	padding-bottom: 45px;	
	h4 {
		margin-bottom: 30px;
	}
	img {
		margin: 0 20px;
	}
}
.b_caption {
	width: 680px;
	margin: 0 auto;
	@include clearfix();
}
.bl_caption {
	width: 190px;
	padding: 30px 30px 63px;	
	float: left;
	margin-left: 27px;
	&:hover {
		background-color: #FFC300;
		color: #fff;
		padding-bottom: 30px;
		.i_caption-image {
			background-position-y: bottom; 
		}	
		.i_caption-button {
			display: block;
		}	
	}
}
.i_caption-image {
	height: 74px;
	width: 75px;
	background-position: center 0px;
	background-repeat: no-repeat;	
	width: 100px;	
	margin: 0 auto 30px;	
}
.i_caption-text { 
	text-align: center;
	margin-bottom: 25px;
}
.i_caption-button {
	display: none;
}

.b_caption-service {
	.i_caption-image {
		background-image: url(../images/caption-1.png);		
	}	
}
.b_caption-garanty {
	.i_caption-image {
		background-image: url(../images/caption-2.png);		
	}		
}
.b_caption-sale {
	.i_caption-image {
		background-image: url(../images/caption-3.png);		
	}
}
.l_footer {
	padding: 33px 0px 0px;
	.b_menu {
		margin-bottom: 33px;
	}
	.divider {
		margin-top: 0px;
	}
	.b_social {
		margin-bottom: 40px;
	}
	.b_search {
		margin: 0;
	}

}
.b_deprecated {
	margin: 77px 0px 30px;
	text-align: center;
	position: relative;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-shadow: 0px 0px .4px #000;
	img {
		position: absolute;
		left: 0;
		right:0;
		top: 0;
		bottom:0;
		margin: auto;
		opacity: .7;
	}
}
.i_social {
	width: 33px;
	height: 33px;
	background: url(../images/bg_social.png) top left no-repeat;
	display: inline-block;
	&:hover {
		background-position-y: bottom;
	}
}
.b_footer {
	margin-bottom: 75px;
}
.b_footer-bottom {
	padding: 20px 0px 50px;
}

.select-styled.btn-group {
	&.open .dropdown-toggle {
		box-shadow: none;
	}
	&.open > .btn-default.dropdown-toggle {
		background: #fff;
	}
	.btn-default {
		padding: 8px 12px;
		&:hover,
		&:focus {
			background: #fff;
			.caret {			
				background-position-y: -33px; 
			}	
		}
		&:active {
			box-shadow: none;
			.caret {			
				background-position-y: -66px; 
			}
		}		
	}
	.btn {
		.caret {			
			display: inline-block;
			border: none;
			width: 32px;
			height: 32px;
			display: inline-block;
			background: url(../images/icon_select.png) center top no-repeat;
			right: 3px;
			margin-top: -16px;
		}
	}
}

.select-styled {
	.dropdown-menu {
		background: #fff;
		padding: 5px;
		> li > a {
			padding: 5px 10px;
		}
		> li > a:hover, 
		> li > a:focus {
			background: #FFC300;
		}
	}	
}

.b_news_tab {
	.nav-tabs {
		padding: 0;
		background: transparent;
		top: -25px;
		> li > a {
			margin: 0 15px;
			font-size: 18px;
			padding: 7px 30px;
			font-weight: bold;
			color: #fff;
			border: 1px solid #fff;
		}
	}
}
.b_tab-news {
	margin: 0 -15px;
}
.bg-icon {
	position: absolute;
	top: 50%;
	left: -190px;
	margin-top: -50px;
}
.b_captions {
	position: relative;
}
.required {
	color: red;
	margin: 0 3px;
}
.b_feedback {
	.modal-body{
		padding: 10px 35px 25px;
	}	
}
.b_captcha {
	.captcha-img {
		float: left;
	}
	.form-control {
		width: 135px;  
		float: right;
	}
}
.b_region-map {
	background: #282828; 
}
.b_order {
	h4 {
		margin-bottom: 25px;
	}
	p {
		line-height: 30px;
		margin-bottom: 45px;
	}
}
.b_parse {
	padding: 20px 20px 40px;
}
.b_product-inner {
	padding: 20px 20px 40px;		
}
.b_related{
	padding-right: 10px;
}
.b_img-list-inline {
	.i_img-list {
		display: inline-block;
	}	
}
.i_img-list {
	margin-left: 2px;
	border: 3px solid transparent;
	position: relative;
	&:first-child {
		margin-left: 0px;
	}	
	&:before {
		content: '';
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 28px;
		height: 28px;
		background: url(../images/icon_zoom.png) no-repeat;
	}
	&:hover {
		border-color: #454646;
	}
	&:hover:before {
		display: block;
	}
}
.i_evacuator {
	display: block;
}
.b_offers {
	padding-top: 20px;	
}
._divider-left {
	position: relative;
	border-left: 1px solid #B2B2B2;
	padding-left: 30px;
	&:before {
		content: '';
		display: block;
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		left: -2px;
		background: #F7F7F7;
	}
}
.b_filter-cont {
	margin: 0 -20px;
	padding: 30px 15px 35px; 
	.list-inline {
		.caret {
			margin: 0 2px;
		}
	}
	.divider {
		margin: 10px 0px;
	}
}
.b_filter {
	h4 {
		margin: 0px;
	}	
}
.b_sort {
	li {
		margin-left: 12px;		
		&:first-child {
			margin-left: 0px;
		}
		a {
			text-decoration: none;
		}
	}
}
.b_quantity {
	margin-left: 60px;
	a {
		&.active {
			text-decoration: none;
		}
	}

}
.b_sort-cont {
	.list-inline {		
		float: left;		
		margin: 0;
	}	
}
.b_pagination {
	.active {
		text-decoration: none;
	}
}
.i_news {
	margin-bottom: 50px;
	.b_news-text {
		h5 {
			font-size: 16px;
			margin: 0px 0px 15px;
		}
		.bg-yellow {
			display: inline-block;
			margin-bottom: 10px;
		}
	}
	img {
		float: left;
		margin-right: 30px;
		width: 132px;
		height: 132px;
		border-radius: 1000px;		
	}
	@include clearfix();
}
.i_news-inner {
	margin-bottom: 70px;
	.b_news-text {                 
		p {
			margin-bottom: 30px;
		}
	}	
	@include clearfix();
}
.b_register {
	padding: 25px 80px 30px;
}
.b_register-tab {
	padding: 0px 80px 30px;
	.nav-tabs {
		margin-top: -25px;
		margin-left: -10px;
		margin-right: -10px;
		> li > a {
			margin: 0 7px;
		}
	} 	
}
.b_register-icon {
	padding-top: 60px;  
}
.b_cabinet-tab {
	padding-bottom: 1px;  
}
.b_cabinet-tab-row {

	.i_cabinet-text {
		margin-top: 33px;
	}
}
.b_checkout {
	padding: 30px 15px 45px;
	margin: 0 -15px;
}
.i_price {
    font-size: 16px;
}
.b_map-text {
	h4 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 20px;
	}
}
.b_order-car {
	padding: 20px 50px;
	.b_register {
		padding: 0px 30px;
	}
}
.b_form-text {
	p {
		margin-bottom: 20px;
	}
	h4 {
		margin-bottom: 25px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-position: inside;
			margin-bottom: 10px;
		}		
	}
}          